/* button {
    height: 20%;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  #startWatcher {
    border-radius:15px
  }
  
  .instruction {
    height: 20%;
      background-color: blue;
  }
  
  .block {
    padding: 3%;
      width: 100%;
  }
  
  p {
    text-align: center;
  }
   */


body {
    min-width:300px;
}
div{
  font-family: 'Source Sans Pro', sans-serif;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}

ul {
  list-style-type: none;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

li a.active {
  background-color: #4CAF50;
  color: white;
  font-size: 3em;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}